<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.neontoolkit.oyster2.client.gui.actionSet.submit"
            label="org.neontoolkit.oyster2.client.gui.actionSet.submit"
            visible="true">
         <action
               class="org.neontoolkit.oyster2.client.gui.actions.SubmitAction"
               icon="icons/oyster2.gif"
               id="org.neontoolkit.oyster2.client.gui.submitAction"
               label="org.neontoolkit.oyster2.client.gui.submitAction"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the submit dialog"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.neontoolkit.oyster2.client.gui"
            name="Oyster2"/>
      <view
            allowMultiple="true"
            category="org.neontoolkit.oyster2.client.gui"
            class="org.neontoolkit.oyster2.client.gui.views.SearchResultsView"
            icon="icons/oyster2.gif"
            id="org.neontoolkit.oyster2.client.gui.views.SearchResultsView"
            name="Search results"/>
      <view
            allowMultiple="true"
            category="org.neontoolkit.oyster2.client.gui"
            class="org.neontoolkit.oyster2.client.gui.views.SearchView"
            icon="icons/oyster2.gif"
            id="org.neontoolkit.oyster2.client.gui.views.searchView"
            name="Search View"/>
      <view
            allowMultiple="false"
            category="org.neontoolkit.oyster2.client.gui"
            class="org.neontoolkit.oyster2.client.gui.views.SearchResultDetailsView"
            icon="icons/oyster2.gif"
            id="org.neontoolkit.oyster2.client.gui.SearchResultDetails"
            name="Result details"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.neontoolkit.oyster2.client.gui.PerspectiveFactory"
            icon="icons/oyster2.gif"
            id="org.neontoolkit.oyster2.client.gui.Oyster2Perspective"
            name="Oyster2"/>
   </extension>


</plugin>
