<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.neontoolkit.collab.preference.CollabPreferencePage"
            id="org.neontoolkit.collab.preferences.CollabPreferencePage"
            name="Collaborative Development Preference">
      </page>
   </extension>
   
   <extension point="org.eclipse.help.toc"> 
    <toc extradir="resources/html" primary="true" file="resources/xml/toc.xml"/> 
</extension>

</plugin>
